<!DOCTYPE html>
<html>
	<head>
		<title>Wildgarden</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="container">
			<div id="navigation_menu">
				<ul>
					<li>
						<%= link_to 'Noveny hozzaadasa', new_plant_path %>
					</li>
					<li>
						<%= link_to 'Novenyek listaja', plants_path %>
					</li>
				</ul>
			</div>
			<div id="main">
				<%= yield %>
			</div>
			<div id="footer">
				<p>
					<%= link_to 'Vissza', :back %>
				</p>
			</div>
		</div>
	</body>
</html>
